/* sidebar related */
.sidebar aside {
    width: 100%;
    min-width: 300px;
    height: 100%;
    background-color: #242424;
    text-align: center;
    padding-top: 50px;
}
.sidebar {
    display: none;
    position: fixed;
    min-width: 300px;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    padding-right: 10;
}

.profile-pic {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;

}
.name {
    font-weight: 1000;
    color: #EEEEEE;
    font-size: 38px;
}
.navbar {
    margin-top: 80px;
}
.sidebar-tagline {
    color: #d4d3c3;
    font-size: 16;
}
/* main */
.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 800px;
    position: relative;
    z-index: 1;
}
.about-content{
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.about > div > h1{
    width: 100%;
    color: #EEEEEE;
    font-size: 92;
    font-weight: bold;
}
.about > div > p{
    width:100%;
    color: #EEEEEE
}

.profile-pic-wrapper{
    padding-top: 50;
    padding-bottom: 50;
    margin-left: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic-wrapper h2{
    width: 100%;
    color: #EEEEEE;
    font-size: 64;
    margin:0;
    text-align: center;
    text-shadow: 15px 15px 15px rgba(0,0,0,0.3);
}
.profile-pic-wrapper p{
    text-align: center;
    width:100%;
    text-shadow: 15px 15px 15px rgba(0,0,0,0.3);
}
.about .profile-pic-wrapper img {
    border: solid 4px gray;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3);
}

.about-container {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 300;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/banner2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    filter: brightness(1.5);
}
.dark-section{
    position: absolute;
    background-color: black;
    width: 55%;
    height: 100%;
    opacity: 0.7;

}

.about div {
    padding-right: 300;
}
header {
    background-color: #FAF9EE;
    height: 60;
    position: sticky;
    top: 0;
    border-bottom: solid 2px lightgray;
    z-index: 2;
    display: flex;
    flex-direction: row;
}
.left-header{
    overflow: hidden;
    width:50%;
}
.left-header img{
    position: relative;
    top: -75;
    left: -60;
    object-fit: fill;
    width: 400
}
.right-header{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

body {
    background-color: #FAF9EE;
    margin: 0;
    padding: 0;
    width: 100%;
}

h2,
h1 {
    color: black;
    font-family: roboto;
}
p {
    color: black;
    font-family: roboto;
}
.head {
    width: 100%;
    height: 500px;
}
.section {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    width: 60%;
    border-radius: 16px;
}
.section-heading {
    font-size: 48px;
    font-weight: 1000px;

}
.section-content {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1;
    word-spacing: 3;
}
/* Cards */
.features {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.card {
    padding-left: 40;
    padding-bottom: 30;
    display: flex;
    align-items: flex-start;
    margin-top: 10;
    margin-bottom: 10;
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background-color: #EEEEEE;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    overflow: hidden;
}
.card:hover {
  transform: scale(1.05);
}
.card-img img {
    width: 300px;
    height: 200px;
    object-fit: contain;
    border-radius: 4px;
}
.card-img {
    padding-top: 10;
    padding-bottom: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}
.card-description {
    margin: auto;
    margin-left: 70;
    padding-right:70;
    max-height: 100%;
}
.card-description p {
    letter-spacing: 1;
    word-spacing: 3;
    font-size: 20;
}
.card-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-title {
    font-size: 32;
    font-weight: 5000;
    border-radius: 4px;
    padding-left: 10;
    padding-right: 10;
}
.timestamp {
    font-size: 24;
    color: #EEEEEE;
    background-color: dimgray;
    border-radius: 4px;
    padding-left: 5;
    padding-right: 5;
    text-align: center;
}
.divider {
    width: 100%;
    opacity: 30%;
}

/* Navigation links */
nav a {
    display: block;
    padding: 15px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: roboto;
}

nav a:hover {
    background-color: #444;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 0;
}
footer {
    background-color: #e8e8e8;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items:center;
}
footer p{
    padding-left:100;
    font-size: 20;
    color: dimgray;
}

/* fonts */
.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
