@property --start {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}

@property --pos {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}

.about-head {
    border-radius: 8px;
    background: transparent;
    min-width: none;
}

.about-head:hover { 
  transform: background-color ease 0.3s;
  background-color: #adada041;
}


.about-border {
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: transparent;
    border: solid #d4d3c3 2px;
    margin:1px;
    margin-bottom: 0px;
}


.about-container{
  margin-top: 0px;
  margin:1px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background: transparent;
  backdrop-filter: blur(30px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: transform 0.3s ease;
  border: solid #d4d3c3 2px;
  border-top: none;
}



/* Cutoff point when the about head turns into a collumn*/
@media (max-width: 90rem) {  
  .right-section div {
    display: none;
  }

  .left-section section .text-heading{
    font-size: 32px;
  }

}

.contact-list{
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0;
  height: 64px;
}

.contact-list a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
.contact-list a img{
  transition: transform 0.2s;
  width: auto;
  height: 100%;
}

.contact-list a img:hover{
  transform: scale(1.2);
  transition: transform 0.2s;
  cursor: pointer;
}

.left-section {
    background: transparent;
    min-width: 300px;
    transition: --start 0.3s ease, --pos 0.3s ease;
    border-bottom-left-radius: 8px;
    padding: 30px 30px 30px 30px;
}



