@property --start {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}

@property --pos {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}

.about-head {
    position: relative;
    min-width: 0;
    border-radius: 8px;
    transition: transform ease 0.3s;
}

.about-head:hover { 
  transition: transform ease 0.3s;
  transform:scale(1.005);
  box-shadow: #000000 0px 0px 5px;
}


.about-border {
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: transparent;
    border: solid #d4d3c3 2px;
    margin:1px;
    margin-bottom: 0px;
}


.about-container{
  margin-top: 0px;
  margin:1px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background: transparent;
  backdrop-filter: blur(30px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  grid-template-columns: 2fr 1fr; /* ratio 2:1 */
  transition: transform 0.3s ease;
  border: solid #d4d3c3 2px;
  border-top: none;
}



/* Cutoff point when the about head turns into a collumn*/
@media (max-width: 1500px) {
  .about-container {
    display:flex;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .right-section {
    flex: 0;
    width: 0;
    overflow: hidden;
    display: none;
  }
  
  .right-section div {
    display: none;
  }

  .left-section section .text-heading{
    font-size: 32px;
  }

}


.right-section {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    align-items: center;
}

.right-section div {
    background-color: #28282d;
    background-size: cover;
    background-position-x: -150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 70%;
    height: 70%;
    max-height: 800px;
    overflow: hidden;
}

.contact-list{
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0;
  height: 64px;
}

.contact-list a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
.contact-list a img{
  transition: transform 0.2s;
  width: auto;
  height: 100%;
}

.contact-list a img:hover{
  transform: scale(1.2);
  transition: transform 0.2s;
  cursor: pointer;
}

.left-section {
    background: transparent;
    min-width: 300px;
    transition: --start 0.3s ease, --pos 0.3s ease;
    border-bottom-left-radius: 8px;
    padding: 30px 30px 30px 30px;
}



