@property --start {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}

@property --pos {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}

.about-head {
    border-radius: 8px;
    background: transparent;
    min-width: none;
}

.about-head:hover { 
  transform: background-color ease 0.3s;
  background-color: #adada041;
}


.about-border {
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #4a1818a3;
    margin-bottom: 0px;
}

.about-container{
  margin-top: 0px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: transparent;
  backdrop-filter: blur(30px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: transform 0.3s ease;
  border-top: none;
}



/* Cutoff point when the about head turns into a collumn*/
@media (max-width: 60rem) {  
  .about-container {
    gap: 20px;
  }
}

.contact-list{
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0;
  height: 64px;
}

.left-section {
    background: transparent;
    min-width: none;
    transition: --start 0.3s ease, --pos 0.3s ease;
    border-bottom-left-radius: 8px;
    padding: 30px 30px 30px 30px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25rem 0px 25rem 0px;
}

.hero-container .text-subheading {
    max-width: 30rem;
}

@media (max-width: 50rem) {
    .hero-container .text-heading {
        font-size: 24px;
    }

    .hero-container .text-subheading {
        font-size: 12px;
        max-width: 20rem;
    }

    .left-section {
        padding: 20px 20px 20px 20px;
    }
}



