/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f1f23;
  color: #debc93;
  flex-wrap: wrap;
  width: 100%;
  top: 0;              
  left: 0;
  z-index: 1000; 
  border-bottom: #debc93 1px solid;
}

.logo {
  font-family: 'Monaspace Argon', monospace;
  font-size: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  color: #ff5757;
  text-decoration: underline;
  font-size: 18px;
}

.menuButton {
  margin-right: 5%;
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #debc93;
  cursor: pointer;
}
.size-6 {
  width: 24px;
  height: 24px;
}

/* The actual rensponsice behaviour
    TODO: Read up more on react's hook, possibly using a mix of JS 
          for this part, though i don't think that's neccessary.
    Here, max-width is the cutoff point where the navbar changes.
*/

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    display: none;
    margin-top: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}