.about-header{
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    gap: 1.5rem;
    min-width: none;
    max-width: 60rem;
}

@media (max-width: 60rem) {
    .about-header {
        grid-template-columns: 1fr 0fr;
        gap:0px;
        width: auto;
        min-width: none;
    }   
    .right-header {
        visibility: hidden;
    }
    .left-header {
        visibility: hidden;
    }
}

.right-header {
    display:grid;
    gap: 1.5rem;
    grid-template-rows: 1fr 4fr;
}

.spotify-widget {
    border-radius: 8px;
    background-color: #6c2222a3;
}

.todo-widget {
    border-radius: 8px;
    background-color: #6c2222a3;
}